@import "src/Components/font.css";
.front{
  width: 100%;
  height: 100%; /* 높이를 100%로 설정 */
  max-height: 500px; /* 최대 높이 설정, 필요에 따라 조절 */
  top: 0;
  left: 0;
  position: relative;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  font-family: 'Pretendard-Black';
}

p {
    color: #606060;
    margin:  0 10px;
    font-size: 14px;
}

a {
    display: block;
    padding: 11px; /* 링크 패딩 */
    text-decoration: none; /* 밑줄 없애기 */
    background-image: url(../youtube_gogo.png);
    background-size: 30px 30px;
    background-repeat: no-repeat; /* 이미지 반복 방지 */
    background-position: center; 
    border : 10px;
    width: 30px;
    margin: 3px auto; /* 화면 중앙 정렬 */
    border-radius: 10px;
  }
.youtubeHouse {
  margin-top : 1vh
}
img {
  width: 100%; /* 이미지 너비 */
  height: 225px; /* 이미지 높이 자동 조절 */
  object-fit: cover; /* 이미지 비율 유지하면서 크기 조절 */
}
  
h3 {
  font-size: 1.2rem; /* 제목 글꼴 크기 */
  margin: 10px; /* 제목 여백 */
}

a:hover {
  background-color: #cccccc;; /* 호버 시 배경색 변경 */
}