/* RandomFoodSuggestion.css */
.random-food-suggestion {
    margin-top: 80px;
    padding: 15px;
    background-color: #f8f8f8;
    border-radius: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 30px;
    font-size: 1.2em;
    text-align: center;
    max-width: 400px; /* 모바일 화면 폭에 맞춤 */
    margin: 80px auto 0  auto; /* 화면 중앙 정렬 */
    
  }
  
  .randomfood-videos {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px; /* 아이템 간격 */
    padding: 20px; /* 패딩 */
    
    
  }
  
  /* 더 작은 화면에서 아이템들을 한 열로 배치 */
  @media (max-width: 600px) {
    .randomfood-videos {
      grid-template-columns: 1fr; /* 모바일 화면에서 한 열로 */
    }
  }