@import "src/Components/font.css";

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* 반투명 배경 */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* 다른 요소들보다 높은 z-index 값 */
    
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width:80%;
    max-width: 320px;
    height: 570px;
    position: relative;
    /* 추가 스타일 */
    display: flex; /* .modal-content 내부에서 자식 아이템들을 효율적으로 배치하기 위해 flex 사용 */
    flex-direction: column;
    overflow-y: auto;
  }
  
  .close-btn {
    width: 20px;
    height: 20px;
    margin-left: auto;
}

@media (max-width: 400px) {
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width:80%;
    max-width: 320px;
    height: 70%;
    position: relative;
    /* 추가 스타일 */
    display: flex; /* .modal-content 내부에서 자식 아이템들을 효율적으로 배치하기 위해 flex 사용 */
    flex-direction: column;
    overflow-y: auto;
  }
}