/* TopBar.css */

.top-bar {
  display: flex;
  align-items: center;
  background-color: white;
  color: black;
  width: 100%; /* 헤더와 동일한 너비 */
  height: 100%; /* 헤더와 동일한 높이 */
  margin-top: 0; /* 상단 간격을 조정할 수 있음 (원하는 값으로 수정) */
  overflow: hidden;
}

.logo {
  margin-top: 15px;
  margin-right: 10px;
  max-width: 180px;
  height: 75px;
  overflow: hidden;
}
