/* SearchBar.css */
.search-bar {
    display: flex;
    align-items: center;
    padding: 5px;
  }
  
  .search-input {
    width: 100%;
    padding: 8px 12px;
    margin-right: 5px;
    border: 1px solid #ddd;
    border-radius: 20px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
    outline: none;
  }
  
  .search-input:focus {
    border-color: #aaa;
  }
  
  .search-button {
    padding: 8px 12px;
    border: none;
    border-radius: 20px;
    background-color: #f8f8f8;
    cursor: pointer;
    outline: none;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
  }
  
  .search-button:hover {
    background-color: #e8e8e8;
  }
  
  .search-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .youtube-logo {
    background: url('./skkul2.png') no-repeat center center; /* 이미지 경로 업데이트 */
    background-size: contain; /* 이미지가 버튼 내에 맞게 조절되도록 */
    border: none;
    cursor: pointer;
    font-size: 24px; /* 필요에 따라 조절 */
    width: 40px; /* 로고의 크기, 필요에 따라 조절 */
    height: 40px; /* 로고의 크기, 필요에 따라 조절 */
  }
  
  .menu-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    /* 메뉴 버튼 스타일 추가 */
  }