/* VideoItem 컴포넌트를 위한 스타일 */
.video-item-container {
  perspective: 1000px;
  display: flex;
  margin: 0 -10%; /* 양 옆으로 10%의 마진을 설정 */
  max-width: 400px;
  margin: 0 auto;
  width: 100%;
}

.video-item {
    border: 1px solid #ddd; /* 테두리 */
    overflow: hidden; /* 내용이 넘치면 숨김 */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 1); /* 그림자 효과 */
    background: #fff; /* 배경 색상 */
    transition: all 1s; /* 클릭 시 변형 효과 */
    min-height: auto ;  
    width: 100%;
    transform-style: preserve-3d; /* 3D 변환 스타일 */
    cursor: pointer;
    position: relative;
    border-radius: 8px;
  }

.video-item:hover {
  transform: scale(1.03);   } 

.video-item-logo {
  margin-bottom: 5px; /* 하단 마진을 20픽셀로 설정 */
}
