
.App-back {
  display: flex;
  justify-content: center;
  background-color: black; /* 전체 배경 색상 */
}

.App {
  display: flex;
  flex-direction: column;
  max-width: 400px; /* 모바일 화면 폭에 맞춤 */
  margin: 0 auto; /* 화면 중앙 정렬 */
  height: 100vh; /* 전체 화면 높이 */
  overflow-y: auto; /* 세로 스크롤 가능 */
  max-width: 400px; /* 모바일 화면 폭에 맞춤 */
  margin: 80px auto 0  auto; /* 화면 중앙 정렬 */
  justify-content: center;
}

.search-bar, .random-food-suggestion, .food-videos {
  padding: 10px;
  
}

/* 버튼, 입력 필드 등의 크기를 모바일에 적합하게 조정 */
button, input[type="text"] {
  padding: 10px;
  font-size: 16px;
  width: 100%; /* 너비를 부모 요소에 맞춤 */
}

.App-back {
  zoom: 80%; /* 또는 transform: scale(0.8); */
}

@media (max-width: 400px) {
  .App-back {
    /* Apply a scale transformation to reduce horizontal size to 80% */
    transform: scale(0.8);
    display: flex;
    justify-content: center;
    background-color: black; /* 전체 배경 색상 */
  }
}